.posts
  - @posts.each do |post|
    .post
      .title= post.title
      .user= post.user.name
      .date= post.created_at
      .body= post.body
    .comments
      = link_to("Add comment", post_path(post, :anchor => "disqus_thread"))
      = raw disqus_comment_counts

