- content_for :keywords do
  = @post.tag_list
.post
  %p
    %b Title:
    = @post.title
  %p
    %b Tag list:
    - @post.tags.each do |tag|
      = link_to(tag.name, tags_path(tag.name))
  %p
    %b Body:
    = raw @post.body.to_html
  %p
    %b Author:
    = @post.author.name
.comments
  %p
    = raw disqus_thread
