= render :layout => "layouts/admin" do
  %h2= User.model_name.human.pluralize

  .links
    = link_to "#{t("new")} #{User.model_name.human.downcase}", new_admin_user_path

  .users
    %table
      %thead
        %tr
          %th= User.human_attribute_name(:name)
          %th= User.human_attribute_name(:email)
          %th
      %tbody
        - @users.each do |user|
          %tr
            %td= user.name
            %td= user.email
            %td= link_to t("edit"), edit_admin_user_path(user), :class => :edit
